<div class="fixed-button-group">
  <div class="fixed-button"><a href="https://wj.qq.com/s/1144281/8189" target="_blank"><i class="iconfont">&#xe613;</i></a></div>
  <div class="fixed-button" style="border:none;"><a href="http://gongwei.xyz/articles/10" target="_blank"><i class="iconfont">&#xe604;</i></a></div>
</div>