<div class="fixed-button-group">
  <div class="fixed-button"><a href="#"><i class="iconfont">&#xe613;</i></a></div>
  <div class="fixed-button" style="border:none;"><a href="#"><i class="iconfont">&#xe604;</i></a></div>
</div>