<div class="menu-bar" data-module="menu-bar">
  <div class="menu-bar-content">
    <ul class="menu-li">
      <li class="nav_welcome"><a href="/"><i class="iconfont">&#xe607;</i>Recently</a></li>
      <li class="nav_site"><a href="/site"><i class="iconfont">&#xe734;</i>Weekly</a></li>
    </ul>
    <div class="add-rss" data-type="add-rss"><a href="javascript:;"><i class="iconfont">&#xe67f;</i>Share Weekly</a>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8">
      $('.menu-li .nav_<%=controller_name  %>').addClass('active');
  </script>
  <div id="modal-add-weekly">
    <label for="weekly">Hope to add the new weekly rss address: <br>
      <input type="text" name="weekly" placeholder="http://">
      <span class="input-group-btn enter-del-btn" data-type="enter-del-btn">Submit</span>
    </label>
  </div>
</div>