<div class="menu-bar">
  <div class="menu-bar-content">
    <ul>
      <li><%= link_to "HOME",   root_path %></li>
      <li><%= link_to "SITES",   site_path%></li>
    </ul>
    <div class="add-rss">+ADD WEEKLY</div>
  </div>
</div>