<div class="menu-bar">
  <div class="menu-bar-content">
    <ul>
      <li class="active"><a href="#">HOME</a></li>
      <li><a href="#">SITES</a></li>
    </ul>
    <div class="add-rss">+ADD WEEKLY</div>
  </div>
</div>