<div class="top-bar">
  <h1>
    <% if controller_name=='item' %>
        <a href="/" class="back">< 返回</a>
    <% end %>
    <a href="/" class="logo">WEEKLY <span class="iconfont">&#xe63b;</span></a>
  </h1>

  <% if login? %>
      <a href="/logout?redirect_url=<%= current_url %>" data-type="github-btn" class="github-btn">
        <%= @user.username %><i class="iconfont">&#xe608;</i>
      </a>
  <% else %>
      <a href="/login/github?redirect_url=<%= current_url %>" data-type="github-btn" class="github-btn">
        <i class="iconfont">&#xe69f;</i>登入
      </a>
  <% end %>

</div>