<%= render 'share/menu' %>
<div data-module="items-list">
  <div class="items-list">
    <%= render 'share/items_list', :items_group => @items_group %>
  </div>
  <div class="more-btn" data-type="more-btn">更早的</div>
</div>