<div class="post-page">
  <div class="left">
    <div class="top">
      <i class="month">FEB</i>
      <span class="day">23</span>
    </div>
  </div>
  <div class="right">
    <div class="top">

    </div>
    <div class="content">
      <%= raw @item.content %>
    </div>
  </div>
</div>