<div class="post-page">
  <div class="left">
    <div class="top">
      <div class="e-time">
        <i class="month">FEB</i>
        <span class="day">23</span>
      </div>
      <div class="l-time">2月23日</div>
    </div>

  </div>
  <div class="right">
    <div class="top">

    </div>
    <div class="content">
      <%= raw @item.content %>
    </div>
  </div>
</div>