@import "mixin";

body {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  overflow: auto
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  min-height: 25px;
  min-width: 25px;
  border: 1px solid #e0e0e0
}

::-webkit-scrollbar-track {
  background-color: #f7f7f7;
  border: 1px solid #efefef
}

@font-face {
  font-family: 'iconfont';  /* project id 238639 */
  src: url('//at.alicdn.com/t/font_0gh2mo3pf5fav2t9.eot');
  src: url('//at.alicdn.com/t/font_0gh2mo3pf5fav2t9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_0gh2mo3pf5fav2t9.woff') format('woff'),
  url('//at.alicdn.com/t/font_0gh2mo3pf5fav2t9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_0gh2mo3pf5fav2t9.svg#iconfont') format('svg');
}

.iconfont {
  font-family: iconfont, serif;
  font-style: normal;
}

.top-bar {
  position: relative;
  background: $themeColor;
  text-align: center;
  h1 {
    position: relative;
    width: 920px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    span {
      position: relative;
      bottom: 2px;
    }
    a.logo {
      position: relative;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      top: -4px;
    }
    a.back {
      display: block;
      position: absolute;
      left: 0;
      float: left;
      width: 55px;
      height: 50px;
      line-height: 52px;
      color: #FFF;
      font-size: 16px;
      font-weight: normal;
      .iconfont {
        position: relative;
        top: -1px;
      }
    }
  }
  .login-in {
    display: inline-block;
    position: absolute;
    height: 50px;
    right: 20px;
    top: 0;
    line-height: 50px;
    padding: 0 10px;
    cursor: pointer;
    img {
      height: 25px;
      line-height: 1;
      vertical-align: middle;
      border-radius: 3px;
    }
    .iconfont {
      margin-left: 5px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.75)
    }
    &:hover {
      .iconfont {
        color: #fff;
      }
    }
  }
  .close {
    .dropdown-menu {
      display: none;
    }
    .iconfont {
      color: rgba(255, 255, 255, 0.75) !important;
    }
  }
  .open {
    .dropdown-menu {
      display: block;
    }
    .iconfont {
      color: #fff !important;
    }
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -60px;
    z-index: 1000;
    float: left;
    width: 120px;
    padding: 5px 0 10px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #444444;
      white-space: nowrap;
      &:hover {
        text-decoration: none;
        color: #ffffff;
        background-color: #d9230f;
      }
    }
    .username {
      a {
        cursor: text;
        &:hover {
          color: #444444;
          background-color: #FFFFFF;
        }
      }
      font-family: Helvetica, serif;
    }
    .border {
      width: 100%;
      height: 1px;
      margin-top: 5px;
      margin-bottom: 5px;
      background: #ccc;
    }
  }
  .github-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    height: 30px;
    width: 65px;
    background: #000;
    line-height: 30px;
    background: linear-gradient(#4f5151, #474949 6%, #3f4141);
    background-repeat: no-repeat;
    border-radius: 6px;
    font-size: 14px;
    .iconfont {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.menu-bar {
  height: 50px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  .menu-bar-content {
    width: 920px;
    margin: 0 auto;
    ul {
      @include clearfix;
      display: inline-block;
      li {
        float: left;
        height: 46px;
        line-height: 50px;
        padding: 0 15px;
        color: $themeColor;
        .iconfont {
          margin-right: 4px;
        }
        &:hover {
          background-color: #fbf6f6;
          border-bottom: solid 3px #fbf6f6;
        }
        a {
          display: inline-block;
          font-size: 16px;
          color: #444444;
        }
      }
      li.active {
        background-color: #fbf6f6;
        border-bottom: solid 3px $themeColor;
      }
    }
    .add-rss {
      float: right;
      line-height: 49px;
      color: #999999;
      background: #fff;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0 20px;
      &:hover {
        background: #fbf6f6;
      }
      a {
        color: $themeColor;
      }
      .iconfont {
        margin-right: 5px;
      }
    }
  }
}

.items-list {
  .item {
    display: block;
    width: 900px;
    height: 46px;
    margin: 0 auto;
    padding: 15px 10px;
    @include clearfix;
    &:hover {
      background: rgba(225, 227, 230, 0.4);
    }
    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color: $themeColor;
    }
    p {
      margin: 0;
    }
  }
  .item-left {
    float: right;
    width: 34px;
    height: 34px;
    margin-right: 18px;
    border: 1px solid #E0E3E6;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5px 0;
    line-height: 1;
    i {
      display: inline-block;
      padding-top: 2px;
      color: #ADB3B9;
    }
    span {
      font-size: 12px;
      color: #ADB3B9;
    }
  }
  .item-center {
    float: left;
  }
  .item-right {
    float: right;
    i {
      font-size: 20px;
      color: #ADB3B9;
    }
  }
}

.day-time {
  width: 900px;
  height: 54px;
  padding: 10px 0;
  margin: 20px auto 20px auto;
  @include clearfix;
  i {
    font-style: normal;
  }
  .e-day {
    float: left;
    padding: 2px 0;
    width: 34px;
    height: 44px;
    background-image: linear-gradient(#4f5151, #474949 6%, #3f4141);
    background-repeat: no-repeat;
    text-align: center;
    .month {
      font-size: 12px;
      color: #ffffff;
    }
    .day {
      font-size: 16px;
      color: #ffffff;
    }
  }
  .s-day {
    float: left;
    margin-left: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 54px;
    color: #444444;
  }
}

.post-page {
  width: 920px;
  padding: 10px 0;
  margin: 60px auto;
  @include clearfix;
  .left-slide {
    width: 175px;
    float: left;
    .top {
      @include clearfix;
    }
    //border-right: 1px solid #F0EFEF;
    .day-time {
      float: left;
      width: 140px;
    }
  }
  .right-content {
    float: right;
    width: 740px;
    .top {
      width: 100%;
      height: 46px;
      margin-bottom: 30px;
      //line-height: 46px;
      @include clearfix;
      .weekly-hot {
        float: left;
        width: 34px;
        height: 34px;
        margin-right: 18px;
        border: 1px solid #E0E3E6;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 5px 0;
        line-height: 1;
      }
      .weekly-title {
        float: left;
        h2 {
          margin: 0;
          font-size: 16px;
          font-weight: 600;
          color: #b81e0d;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

.more-btn {
  width: 115px;
  height: 30px;
  line-height: 30px;
  margin: 60px auto;
  border-radius: 50px;
  text-align: center;
  color: $themeColor;
  border: 1px solid $themeColor;
  cursor: pointer;
}

.all-sites {
  .site-item {
    .yes-status {
      .cancel-btn {
        display: block;
      }
      .add-btn {
        display: none;
      }
    }
    .no-status {
      .cancel-btn {
        display: none;
      }
      .add-btn {
        display: block;
      }
    }
  }
}

.to-top {
  width: 50px;
  text-align: center;
  .iconfont {
    color: $themeColor;
    font-size: 40px;
  }
  i, a {
    display: block;
    //margin-top: 5px;
    width: 40px;
    height: 40px;
  }
}

.page-welcome {
  padding-top: 15px;
}

.recent-items {
  h3 {
    margin-top: 0;
    font-weight: 400;
  }
  a {
    display: inline-block;
    width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    &:hover {
      color: $themeColor;
    }
  }
}

.left-slide {
  position: fixed;
  .top {
    .day-time-spe {
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 10px !important;
    }
  }
}

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

.all-sites {
  .ul-wrapper {
    width: 920px;
    margin: 0 auto;
    overflow: hidden;
  }
  ul {
    width: 975px;
    @include clearfix;
    li {
      width: 250px;
      height: 26px;
      float: left;
      margin-right: 55px;
      margin-bottom: 10px;
      padding: 10px 10px;
      background: #f4f4f4;
      border-radius: 4px;
      &:hover {
        .subs {
          display: block;
        }
      }
      a {
        display: block;
        color: $themeColor;
      }
      .subs {
        display: none;
        float: right;
        div {
          padding: 4px 10px;
          //background: linear-gradient(#4f5151, #474949 6%, #3f4141);
          //background-repeat: no-repeat;
          background-color: $themeColor;
          color: #FFFFFF;
          font-size: 12px;
          border-radius: 2px;
          .iconfont {
            position: relative;
            top: -2px;
            margin-right: 5px;
          }
        }
        .add-btn {
          background: $themeColor;
        }
      }
    }
  }
}

.function-bar {
  width: 920px;
  height: 45px;
  margin: 15px auto 15px auto;
  background: linear-gradient(#4f5151, #474949 6%, #3f4141);
  background-repeat: no-repeat;
  border-radius: 2px;
}

.search {
  position: relative;
  display: inline-block;
  top: 7px;
  left: 5px;
  .iconfont {
    position: absolute;
    top: 8px;
    left: 10px;
  }
}

.search-input {
  font-size: 14px;
  background: #fff;
  padding: 4px 6px 4px 30px;
  width: 228px;
  border: solid 1px #bcbbbb;
  outline: none;
  border-radius: 28px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  transition: all 0.28s ease-in 0s;
}

#modal-add-weekly {
  display: none;
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  width: 330px;
  height: 100px;
  padding: 30px;
  z-index: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  input {
    display: block;
    width: 300px;
    height: 20px;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #777777;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dddddd;
    outline: none;
    //border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    //border-radius: 28px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  }
  label {
    color: #444444;
    font-size: 16px;
    line-height: 1.8;
  }
  .input-group-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 20px;
    color: #fff;
    border-radius: 6px;
    background-image: linear-gradient(#e72510, #d9230f 6%, #cb210e);
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.footer {
  width: 100%;
  padding: 10px 0;
  height: 20px;
  //background: #444444;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: #444;
  a {
    margin-left: 5px;
    color: #444;
  }
}

.fixed-button-group {
  position: fixed;
  background: rgba(255, 255, 255, 0.4);
  width: 24px;
  height: 70px;
  bottom: 50%;
  z-index: 122;
  color: #444444;
  right: auto;
  outline: transparent;
  border: 1px solid #eee;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.fixed-button {
  cursor: pointer;
  padding: 9px 0;
  margin: 0 6px;
  border-bottom: 1px solid #ddd;
  font-size: 12px !important;
  line-height: 16px;
  color: #666;
}

.filter {
  display: block;
  float: right;
  margin-right: 8px;
  line-height: 45px;
  a.active {
    background: $themeColor;
  }
  a {
    display: inline-block;
    &:hover {
      background: $themeColor;
    }
    padding: 4px 4px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 300;
    line-height: 1.5;
    border-radius: 2px;
  }
}

.yes-filter {
  .no-item {
    display: none;
  }
  .yes-item {
    display: block;
  }
}

.no-filter {
  .no-item {
    display: block;
  }
  .yes-item {
    display: none;
  }
}