@import "mixin";

body {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

@font-face {
  font-family: 'iconfont';  /* project id 238639 */
  src: url('//at.alicdn.com/t/font_8mdqu4lrli7fogvi.eot');
  src: url('//at.alicdn.com/t/font_8mdqu4lrli7fogvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_8mdqu4lrli7fogvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_8mdqu4lrli7fogvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_8mdqu4lrli7fogvi.svg#iconfont') format('svg');
}

@mixin dayE {
  float: left;
  padding: 2px 0;
  width: 34px;
  height: 44px;
  background: #948CF1;
  text-align: center;
  .month {
    font-size: 12px;
    color: #ffffff;
  }
  .day {
    font-size: 16px;
    color: #ffffff;
  }
}

.iconfont {
  font-family: iconfont, serif;
  font-style: normal;
}

.top-bar {
  position: relative;
  background: $themeColor;
  text-align: center;
  h1 {
    position: relative;
    width: 920px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    span {
      position: relative;
      bottom: 2px;
    }
    a.logo {
      color: #ffffff;
      font-size: 20px;
      .iconfont {
        font-size: 24px;
      }
    }
    a.back {
      display: block;
      position: absolute;
      left: 0;
      float: left;
      width: 55px;
      height: 50px;
      line-height: 50px;
      color: #FFF;
      font-size: 16px;
      font-weight: normal;
    }
  }
  .github-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    height: 30px;
    width: 65px;
    background: #000;
    line-height: 30px;
    background: linear-gradient(#4f5151, #474949 6%, #3f4141);
    background-repeat: no-repeat;
    border-radius: 6px;
    font-size: 14px;
    .iconfont {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.menu-bar {
  height: 50px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  .menu-bar-content {
    width: 920px;
    margin: 0 auto;
    ul {
      @include clearfix;
      display: inline-block;
      li {
        float: left;
        height: 46px;
        line-height: 50px;
        padding: 0 20px;
        color: $themeColor;
        &:hover {
          background-color: #F4FCFD;
          border-bottom: solid 3px #F4FCFD;
        }
        a {
          color: #999;
        }
      }
      li.active {
        background-color: #F4FCFD;
        border-bottom: solid 3px $themeColor;
      }
    }
    .add-rss {
      float: right;
      line-height: 49px;
      color: #999999;
      background: #F4FCFD;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0 20px;
    }
  }
}

.items-list {
  .item {
    display: block;
    width: 900px;
    height: 46px;
    margin: 0 auto;
    padding: 15px 10px;
    @include clearfix;
    &:hover {
      background: rgba(225, 227, 230, 0.4);
    }
    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color: $themeColor;
    }
    p {
      margin: 0;
    }
  }
  .item-left {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 18px;
    border: 1px solid #E0E3E6;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5px 0;
    line-height: 1;
    i {
      color: #ADB3B9;
    }
    span {
      font-size: 12px;
      color: #ADB3B9;
    }
  }
  .item-center {
    float: left;
  }
  .item-right {
    float: right;
    i {
      font-size: 20px;
      color: #ADB3B9;
    }
  }
}

.day-time {
  width: 900px;
  height: 54px;
  padding: 10px 0;
  margin: 0 auto 20px auto;
  @include clearfix;
  i {
    font-style: normal;
  }
  .left {
    @include dayE;
  }
  .right {
    float: left;
    margin-left: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 54px;
  }
}

.post-page {
  width: 920px;
  padding: 10px 0;
  margin: 60px auto;
  @include clearfix;
  .left {
    width: 145px;
    padding-left: 48px;
    float: left;
    border-right: 1px solid #F0EFEF;
  }
  .right {
    float: right;
    width: 760px;
  }
}